<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=ere-passdge">
    <title>Covid-19</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">


        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Covid-19</h2>
                            <form name="f" th:action="@{/login}" method="post" id="login-form" class="register-form">
                                <fieldset style="border: 0;">
                                    <!-- Thymeleaf + Spring Security error display -->
                                    <div th:if="${param.error}" class="alert alert-danger" >
                                        Invalid username and password.
                                    </div>

                                    <div th:if="${param.logout}" class="alert alert-success">
                                        You have been logged out.
                                    </div>

                                    <div class="form-group">
                                        <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                        <input type="text" name="username" id="username" placeholder="Your Name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                        <input type="password" name="password" id="password" placeholder="Password"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="checkRememberMe" id="checkRememberMe" class="agree-term" />
                                        <label for="checkRememberMe" class="label-agree-term"><span><span></span></span>Remember me</label>
                                    </div>
                                    <div class="form-group form-button">
                                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                                    </div>
                                </fieldset>
                            </form>

                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>